
/* __________Global vars__________ */

/*___________Fonts */

/*___________Colors */

#boo {
    background-color: LemonChiffon;
    display: inline-block;
}
#boo2 {
    background-color: LightGreen;
}

#boo3 {
    background-color: lightgrey;
}

#boo4 {
    background-color: lightpink;
}

